@font-face {
  font-family: 'Alex Brush';
  src: url('../fonts/AlexBrush-Regular.ttf');
}

@font-face {
  font-family: 'Euphoria Script';
  src: url('../fonts/EuphoriaScript-Regular.otf');
}

@font-face {
  font-family: 'Lanenar';
  src: url('../fonts/LANENAR_.ttf');
}
